*{
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 100%;
}

.main{
    padding-top: 200px;
    width: 100%;
    padding-bottom: 200px;
    background-color: #000;
    color: #FFF;
    text-align: center;
}

.main :hover{
    background-color: #F00;
}

.footer{
    background-color: #F00;
    color: #FFF;
    width: 100%;
}
